
html{
  overflow-y: auto;
}

body{
  background: #c2a070 url('../img/kraft_paper.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/*------header--------*/
.active{
  color: red;
}
.header{
  margin:0px auto;
  z-index:0;
}
.header__wrap{
  position: fixed;
  z-index:9999;
  width: 100%;
  background: #000;
  padding: 10px 0px;
}
.header__nav{
  margin-left: 100px;
  display: inline-block;
  margin-top: 10px;
}
.nav-list li{
  float: left;
  margin-right: 50px;
}
.nav-list li a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: cursive, sans-serif;
  text-transform: uppercase;
}
.header__social{
  display: inline-block;
  float: right;
  margin-right: 150px;
}
.header__social i.fa{
  font-size: 42px;
}
.header__social a,
.header__social a:hover, 
.header__social a:visited{
  color: #fff;
}
.header__social a{
  margin: 0px 10px;
  cursor: pointer;
  text-decoration: none;
}



/*------header end------*/

#wrapper{
  padding-top: 100px;
  text-align: center;
}

#wrapper p{
  padding-bottom: 10px;
  line-height: 1.5;
}

.main-img-wrapper img{
  width: 550px;
}

.about-us, .contacts{
  padding: 0 10%;
}

.about-us, .contacts,
.about-us a, .contacts a{
  font-family: cursive, sans-serif;
  color: #fff;
}


